#####################################################################
# A/B Stepper Settings - CONFIGURATION ACTUELLE OPTIMISÉE (1.8° & 24V)
#####################################################################

[stepper_x]
## Connected to X-MOT (B Motor)
step_pin: PE11
dir_pin: PE10
enable_pin: !PE9
rotation_distance: 40
microsteps: 32 # Augmenté à 32 pour réduire le bruit et les vibrations mécaniques
full_steps_per_rotation: 200 # Moteurs 1.8° actuels
endstop_pin: EBBCan: PB6
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 25   
homing_retract_dist: 5
homing_positive_dir: true


[stepper_y]
## Connected to Y-MOT (A Motor)
step_pin: PD8
dir_pin: PB12
enable_pin: !PD9
rotation_distance: 40
microsteps: 32 # Augmenté à 32 pour réduire le bruit et les vibrations mécaniques
full_steps_per_rotation: 200 # Moteurs 1.8° actuels
endstop_pin: ^PB13
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 25  
homing_retract_dist: 5
homing_positive_dir: true


[tmc2240 stepper_x]
cs_pin: PE7
interpolate: False # Désactivé pour une meilleure précision des pas (recommandé Voron)
run_current: 0.850 # Légèrement augmenté à 0.85A pour donner du couple sur une gantry 350mm
spi_speed: 500000
spi_software_sclk_pin: PE12
spi_software_miso_pin: PE13
spi_software_mosi_pin: PE14
stealthchop_threshold: 0 # Mode SpreadCycle (0) pour éviter les pertes de pas en CoreXY
rref: 12000
diag1_pin: PB14

[tmc2240 stepper_y]
cs_pin: PE15
interpolate: False # Désactivé pour une meilleure précision des pas (recommandé Voron)
run_current: 0.850 # Légèrement augmenté à 0.85A pour donner du couple sur une gantry 350mm
spi_speed: 500000
spi_software_sclk_pin: PE12
spi_software_miso_pin: PE13
spi_software_mosi_pin: PE14
stealthchop_threshold: 0 # Mode SpreadCycle (0) pour éviter les pertes de pas en CoreXY
rref: 12000
diag1_pin: PB13