#####################################################################
#      MCUs
#####################################################################
# -------- Fysetc Spider V2.3 --------
[mcu]
# --- Version UART
# restart_method: command
# serial: /dev/ttyAMA0
# --- Version USB

# Fysetc Spider V2.3
# serial: /dev/ttyACM0
# serial: /dev/serial/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.1:1.0


# Fysetc Spider V3.0 H7
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_30000E000951323530343536-if00

# -------- rasberry Pi --------
[mcu rpi]
serial: /tmp/klipper_host_mcu

# -------- BigTreeTech EBB SB2204 --------
[mcu EBBCan]
canbus_uuid: 24233d6bcba3 

