# Parameter			Default value	Range										Description
# motor								See DB										Ce paramètre permet de récupérer les constantes physiques du moteur connecté au driver TMC
# tuning_goal		auto			auto, silent, performance, and autoswitch	Paramètre permettant de choisir comment affiner le pilote TMC à l'aide de StealthChop et de paramètres personnalisés. En optant pour auto, il appliquera automatiquement les performances pour les axes X et Y et silencieux pour l'axe Z et l'extrudeuse. L'autoswitch est un choix hautement expérimental qui permet une commutation dynamique entre les modes silencieux et performance en temps réel lorsque cela est nécessaire. Cependant, à l’heure actuelle, cette transition peut potentiellement être gênante, entraînant des comportements indésirables, des nuisances sonores et des pas perdus. Par conséquent, il est recommandé d'éviter d'utiliser «autoswitch» jusqu'à ce que les problèmes identifiés soient entièrement résolus.
# extra_hysteresis	0				0 to 8										Hystérésis supplémentaire pour réduire le bourdonnement et les vibrations du moteur à des vitesses faibles à moyennes et maintenir une précision de micropas appropriée. Attention: n'utilisez que la quantité nécessaire, car une valeur trop élevée entraînera davantage de bruit de hachoir et de dissipation de puissance du moteur (c'est-à-dire plus de chaleur).
# tbl				2				0 to 3										Temps vide du comparateur. Ce temps doit couvrir en toute sécurité les événements de commutation TMC. Une valeur de 1 ou 2 (par défaut) devrait convenir à la plupart des applications typiques, mais des charges capacitives plus élevées peuvent nécessiter qu'elle soit réglée sur 3. De plus, des valeurs inférieures permettent à StealthChop de réguler pour réduire les valeurs de courant de bobine.
# toff				0				0 to 15										Règle le temps de décroissance lente (temps d'arrêt) du cycle de hachage. Ce paramètre limite également la fréquence maximale du hacheur. Lorsqu'elle est définie sur 0, la valeur est automatiquement calculée par cet algorithme de réglage automatique. Les vitesses motrices les plus élevées bénéficient parfois du forçage de toff à 1 ou 2 et d'un réglage court de 1 ou 0.
# sgt				1				-64 to 63									Seuil de référencement sans capteur pour TMC5160, TMC2240, TMC2130, TMC2660. Réglez la valeur de manière appropriée si vous utilisez une prise d'origine sans capteur (une valeur inférieure signifie une détection plus sensible et un décrochage plus facile)
# sg4_thrs			10				0 to 255									Seuil de référencement sans capteur pour TMC2209 et TMC2260. Réglez la valeur de manière appropriée si vous utilisez une prise d'origine sans capteur (une valeur plus élevée signifie une détection plus sensible et un décrochage plus facile). Ce paramètre est également utilisé comme seuil de régulation de courant CoolStep pour TMC2209, TMC2240 et TMC5160. Une valeur par défaut de 80 est généralement un bon point de départ pour CoolStep (dans le cas du TMC2209, la valeur de référence sans capteur réglée fonctionnera également correctement)
# voltage			24				0.0 to 60.0									Tension utilisée pour alimenter ce moteur et ce pilote pas à pas
# overvoltage_vth					0.0 to 60.0									Réglez l'amortisseur de surtension en option intégré au TMC2240 et au TMC5160. Les utilisateurs de la carte à tête d'outil BTT SB2240 doivent l'utiliser pour l'extrudeuse en lisant la tension réelle de la tête d'outil et en ajoutant 0,8 V.


[autotune_tmc stepper_x]
motor: fysetc-17HS19-2004S-C
[autotune_tmc stepper_y]
motor: fysetc-17HS19-2004S-C

[autotune_tmc stepper_z]
motor: ldo-42sth40-1684ac          # Moteur G2ZXL : LDO-42STH40-1684AC(RSS9T) 
[autotune_tmc stepper_z1]
motor: ldo-42sth40-1684ac          # Moteur G2ZXL : LDO-42STH40-1684AC(RSS9T) 
[autotune_tmc stepper_z2]
motor: ldo-42sth40-1684ac          # Moteur G2ZXL : LDO-42STH40-1684AC(RSS9T) 
[autotune_tmc stepper_z3]
motor: ldo-42sth40-1684ac          # Moteur G2ZXL : LDO-42STH40-1684AC(RSS9T) 


[autotune_tmc extruder]
motor: fysetc-g36hsy4405-6d-30
#motor: ldo-36sth20-1004ahg

# [motor_constants Bondtech-36H020H-1004A-001]
# #Bondtech LGX lite https://www.bondtech.se/downloads/TDS/Bondtech-13013A-classH-36H020H-1004A-001.pdf
# # Coil resistance, Ohms
# resistance: 2.37
# # Coil inductance, Henries
# inductance: 0.0012
# # Holding torque, Nm
# holding_torque: 0.09
# # Nominal rated current, Amps
# max_current: 1.0
# # Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)
# steps_per_revolution: 200

# [autotune_tmc extruder]
# motor: Bondtech-36H020H-1004A-001
# # tuning_goal: auto
# # extra_hysteresis: 0
# # tbl: 2
# # toff: 0
# # sgt: 1
# # sg4_thrs: 10
# # voltage:24
# # overvoltage_vth:24.8

