[gcode_macro status_off]
gcode:
    _set_caselight_leds color="off"
    STOP_LED_EFFECTS

[gcode_macro status_waiting]
gcode:
    _set_caselight_leds color="waiting"
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=rainbow

[gcode_macro status_ready]
gcode:
    _set_caselight_leds color="on"
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=rainbow

[gcode_macro status_part_ready]
gcode:
    _set_caselight_leds color="waiting"
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_nozzle_part_ready
    SET_LED_EFFECT EFFECT=sb_logo_part_ready

[gcode_macro status_busy]
gcode:
    _set_caselight_leds color="waiting"
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_busy
    set_nozzle_leds_on

[gcode_macro status_heating]
gcode:
    _set_caselight_leds color="heating"
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_heating
    SET_LED_EFFECT EFFECT=sb_nozzle_heating

[gcode_macro status_cooling]
gcode:
    _set_caselight_leds color="waiting"
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_cooling
    SET_LED_EFFECT EFFECT=sb_nozzle_cooling


[gcode_macro status_leveling]
gcode:
    _set_caselight_leds color="mesh"
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_leveling
    set_nozzle_leds_on

[gcode_macro status_homing]
gcode:
    _set_caselight_leds color="mesh"
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_homing
    set_nozzle_leds_on

[gcode_macro status_cleaning]
gcode:
    _set_caselight_leds color="mesh"
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_cleaning
    set_nozzle_leds_on

[gcode_macro status_meshing]
gcode:
    _set_caselight_leds color="mesh"
    STOP_LED_EFFECTS
    #SET_LED_EFFECT EFFECT=sb_logo_meshing
    set_nozzle_leds_on

[gcode_macro status_calibrating_z]
gcode:
    _set_caselight_leds color="mesh"
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_calibrating_z
    set_nozzle_leds_on

[gcode_macro status_printing]
gcode:
    _set_caselight_leds color="on"
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_printing
    set_nozzle_leds_on