[gcode_macro LOAD_FILAMENT]
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity|default(300) %}
    SAVE_GCODE_STATE NAME=load_state
    SET_NOZZLE_LEDS_ON
    #    M300 # beep
    G91
    G92 E0
    G1 E50 F{max_velocity} # fast-load
    G1 E10 F{speed} # purge
    #    M300 # beep
    #    M300 # beep
    RESTORE_GCODE_STATE NAME=load_state

[gcode_macro UNLOAD_FILAMENT]
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity|default(300) %}
    SAVE_GCODE_STATE NAME=unload_state
    SET_NOZZLE_LEDS_ON
    #    M300 # beep
    G91
    G92 E0
    G1 E10 F{speed} # purge
    G1 E-50 F{max_velocity} # fast-unload
    #    M300 # beep
    #    M300 # beep
    RESTORE_GCODE_STATE NAME=unload_state