[gcode_macro PRINT_START]
description: Commande de démarrage d'une impression (Appelé par le Slicer)
gcode:
    {% set BED = params.BED|default(60)|float %}
    {% set EXTRUDER = params.EXTRUDER|default(190)|float %}
    {% set CHAMBER = params.CHAMBER|default(50)|float %}
    {% set MATERIAL = params.MATERIAL|default("?")|string %}
    {% set FL_SIZE = params.SIZE|default("0_0_0_0")|string %}

    #HEATSOAK_CANCEL                 ; Désactive le HEATSOAK s'il est lancé

    configure_extruder             ; Initialise le driver TMS2240 de la carte de tête d'outil EBB SB2240

    #NEVERMORE_PRINT_START           ; Démarrage du Nevermore-controler
    #UPDATE_DELAYED_GCODE ID=_PRINT_END_DELAYED DURATION=0 ; reset timeout

    CASELIGHT_HEATING
    STATUS_HEATING
    {% if params.MATERIAL == "ABS" %}
      # c'est de l'ABS, on active le nevermoore à 100% 
      SET_FAN_SPEED FAN=Plateau SPEED=0.75
      M117 Chauffe - ABS - Plateau 75%
      RESPOND MSG="Chauffe {MATERIAL} a {EXTRUDER} - Fan Plateau 75%"
   {% elif params.MATERIAL == "ASA" %}
      # c'est de l'ASA, on active le nevermoore à 100%
      SET_FAN_SPEED FAN=Plateau SPEED=0.75
      M117 Chauffe - ASA - Plateau 75%
      RESPOND MSG="Chauffe {MATERIAL} a {EXTRUDER} - Fan Plateau 75%"
    {% elif params.MATERIAL == "PETG" %}
      # c'est du pteg, on active le nevermoore à 25%
      SET_FAN_SPEED FAN=Plateau SPEED=0.25
      M117 Chauffe - PTEG - Plateau 25%
      RESPOND MSG="Chauffe {MATERIAL} a {EXTRUDER} - Fan Plateau 25%"
    {% elif params.MATERIAL == "PLA" %}
      # c'est du PLA, on coupe le nevermoore
      SET_FAN_SPEED FAN=Plateau SPEED=0.0
      M117 Chauffe - PLA - Plateau 0%
      RESPOND MSG="Chauffe {MATERIAL} a {EXTRUDER} - Fan Plateau off"
    {% else %}
      # On ne sais pas ce que c'est, donc on ne touche a rien
      M117 Chauffe - {MATERIAL|string}
      RESPOND MSG="Chauffe {MATERIAL} a {EXTRUDER}"
    {% endif %}

    # Définit la température du bed sans bloquer (M190 pour attendre)
    M140 S{BED}                    

    # On force la température à 150°c pour le probing de la voron TAP
    # Si la température actuel est suppérieur à la cible, on active le ventilateur pour refroidir
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if ACTUAL_TEMP > PROBE_TEMP %}
        { action_respond_info('Buse à %.1fC > %.1fC, On la refroidie' % (TARGET_TEMP, PROBE_TEMP)) }
        M106 S255
        M109 S{ PROBE_TEMP }
        M106 S0
    {% elif ACTUAL_TEMP < PROBE_TEMP %}
            { action_respond_info('Buse à %.1fC < %.1fC, On la rechauffe' % (ACTUAL_TEMP, PROBE_TEMP)) }
            SET_HEATER_TEMPERATURE HEATER=extruder TARGET={ PROBE_TEMP }            
            M106 S0
    {% else %}
        { action_respond_info('Buse à la bonne température %.1fC' % (ACTUAL_TEMP)) }
        # # Temperature target is already low enough, but nozzle may still be too hot.
        # {% if ACTUAL_TEMP > MAX_TEMP %}
        #     { action_respond_info('Buse à %.1fC < %.1fC, On la rechauffe' % (ACTUAL_TEMP, MAX_TEMP)) }
        #     TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        # {% endif %}
    {% endif %}

    # On fait le homing et le QGL 
    G32 ; G32 = G28 + QUAD_GANTRY_LEVEL + G28

    # Bed mesh adaptatif à la taille de l'objet à imprimer
    # M117 Bed mesh Adaptatif
    # RESPOND MSG="Bed mesh Adaptatif - Début"
    # CASELIGHT_MESH
    # STATUS_MESHING
    # BED_MESH_CLEAR
    # COMPUTE_MESH_PARAMETERS SIZE={FL_SIZE}
    # RESPOND MSG="Bed mesh Adaptatif - Scan ..."
    # ADAPTIVE_BED_MESH SIZE={FL_SIZE}
    # RESPOND MSG="Bed mesh Adaptatif - Terminé"

    # M117 Bed mesh
    # RESPOND MSG="Bed mesh - Start"
    # CASELIGHT_MESH
    # STATUS_MESHING
    # BED_MESH_CLEAR
    # BED_MESH_CALIBRATE PROFILE=PRINT_START ADAPTIVE=1
    # RESPOND MSG="Bed mesh - Finish"
    #BED_MESH_CLEAR
    #BED_MESH_CALIBRATE ADAPTIVE=1

    # Ce postionne au centre du plateau
    CENTER

    # On chauffe la buse à la bonne température
    STATUS_HEATING
    M117 Chauffer le plateau ({BED|int}°c)
    M190 S{BED}                    ;Définit la température du bed et attend qu'elle soit attente 
    M117 Chauffer la buse ({EXTRUDER|int}°c)
    M109 S{EXTRUDER|int}           ;Définit la température de l'extrudeur et attend qu'elle soit attente

    # Nettoyage de la buse avant le début de l'impression
    M117 Nettoyage buse
    STATUS_CLEANING
    CLEAN_NOZZLE                        ; Nettoyage de la buse

    # Ce postionne au centre du plateau
    CENTER

    # Allume tous pour l'impression
    CASELIGHT_ON
    STATUS_PRINTING

    {% if params.MATERIAL == "ABS" %}
      # c'est de l'ABS, on passe la ventilation de palteau à 50% durant l'impression
      SET_FAN_SPEED FAN=Plateau SPEED=0.5
      #SET_FAN_SPEED FAN=StealthMax SPEED=0.5  ; Mettre le stealthMax en vitesse de croisière
      M117 Plateau et StealthMax à 50%
    {% endif %}

    RESPOND MSG="End PRINT_START, start printing ..."
    M117 printing ...
    M117                           ; Efface les messages
