[gcode_macro SHUTDOWN]
gcode:
    # On éteint les ventilateurs
    SET_FAN_SPEED FAN=Plateau SPEED=0.0
    SET_FAN_SPEED FAN=nevermore_fan SPEED=0.0
    M106 S0

    # On éteint les lumières
    set_nozzle_leds_off
    caselight_off
    set_logo_leds_off
