[gcode_macro QUAD_GANTRY_LEVEL]
description: Conform a moving, twistable gantry to the shape of a stationary bed
rename_existing: QUAD_GANTRY_LEVEL_BASE
gcode:
    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
      M117 Homeing XYZ 1/2
      G28
    {% endif %}

    STATUS_LEVELING
    QUAD_GANTRY_LEVEL_BASE


[gcode_macro G32]
description: G28 conditionnel + QUAD_GANTRY_LEVEL + G28
gcode:
    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
      M117 Homeing XYZ 1/2
      STATUS_HOMING
      G28
    {% endif %}

    M117 QUAD_GANTRY_LEVEL
    QUAD_GANTRY_LEVEL

    M117 Homeing Z 2/2
    STATUS_HOMING
    G28 Z

    STATUS_WAITING
    M117                           ; Efface les messages


[gcode_macro CENTER]
description: Positionne la tête d'impression au centre du plateau
gcode:
  {% if "xyz" in printer.toolhead.homed_axes %}
    # On commence par monté la tête de 5mm
    G91
    G1 z5 F1000
    # On se place en position absolut au centre soit 175,175
    G90
    G1 X175 Y175 F8000
  {% else %}
    { action_raise_error("Please home your axes!") }
  {% endif %}

[gcode_macro PARK]
description: Positionne la tête d'impression au centre du plateau
gcode:
  {% if "xyz" in printer.toolhead.homed_axes %}
    # On commence par monté la tête de 5mm
    G91
    G1 z5 F1000
    # On se place en position absolut au centre soit 175,175
    G90
    G1 X50 Y350 F8000
  {% else %}
    { action_raise_error("Please home your axes!") }
  {% endif %}
