[gcode_macro QUAD_GANTRY_LEVEL]
description: Conform a moving, twistable gantry to the shape of a stationary bed
rename_existing: QUAD_GANTRY_LEVEL_BASE
gcode:
    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
      M117 Homeing XYZ 1/2
      STATUS_HOMING
      G28
    {% endif %}

    STATUS_LEVELING
    QUAD_GANTRY_LEVEL

[gcode_macro G32]
description: G28 conditionnel + QUAD_GANTRY_LEVEL + G28
gcode:
    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
      M117 Homeing XYZ 1/2
      STATUS_HOMING
      G28
    {% endif %}

    M117 QUAD_GANTRY_LEVEL
    QUAD_GANTRY_LEVEL

    M117 Homeing Z 2/2
    STATUS_HOMING
    G28 Z

    STATUS_WAITING
    M117                           ; Efface les messages


[gcode_macro CENTER]
description: Positionne la tête d'impression au centre du plateau
gcode:
  {% if "xyz" in printer.toolhead.homed_axes %}
    # On commence par monté la tête de 5mm
    G91
    G1 z5 F1000
    # On se place en position absolut au centre soit 175,175
    G90
    G1 X175 Y175 F8000
  {% else %}
    { action_raise_error("Please home your axes!") }
  {% endif %}

[gcode_macro PARK]
description: Positionne la tête d'impression au centre du plateau
gcode:
  {% if "xyz" in printer.toolhead.homed_axes %}
    # On commence par monté la tête de 5mm
    G91
    G1 z5 F1000
    # On se place en position absolut au centre soit 175,175
    G90
    G1 X50 Y350 F8000
  {% else %}
    { action_raise_error("Please home your axes!") }
  {% endif %}

# [gcode_macro TEST_GANTRY]
# description: 
# gcode:
#   G32
#   M117 0-20
#   G0 Z10 F10000
#   G0 Z110 F10000
#   M117 1-20
#   G0 Z10 F10000
#   G0 Z110 F10000
#   M117 2-20
#   G0 Z10 F10000
#   G0 Z110 F10000
#   M117 3-20
#   G0 Z10 F10000
#   G0 Z110 F10000
#   M117 4-20
#   G0 Z10 F10000
#   G0 Z110 F10000
#   M117 5-20
#   G0 Z10 F10000
#   G0 Z110 F10000
#   M117 6-20
#   G0 Z10 F10000
#   G0 Z110 F10000
#   M117 7-20
#   G0 Z10 F10000
#   G0 Z110 F10000
#   M117 8-20
#   G0 Z10 F10000
#   G0 Z110 F10000
#   M117 9-20
#   G0 Z10 F10000
#   G0 Z110 F10000
#   M117 10-20
#   G0 Z10 F10000
#   G0 Z110 F10000
#   M117 11-20
#   G0 Z10 F10000
#   G0 Z110 F10000
#   M117 12-20
#   G0 Z10 F10000
#   G0 Z110 F10000
#   M117 13-20
#   G0 Z10 F10000
#   G0 Z110 F10000
#   M117 14-20
#   G0 Z10 F10000
#   G0 Z110 F10000
#   M117 15-20
#   G0 Z10 F10000
#   G0 Z110 F10000
#   M117 16-20
#   G0 Z10 F10000
#   G0 Z110 F10000
#   M117 17-20
#   G0 Z10 F10000
#   G0 Z110 F10000
#   M117 18-20
#   G0 Z10 F10000
#   G0 Z110 F10000
#   M117 19-20
#   G0 Z10 F10000
#   G0 Z110 F10000
#   M117 20-20 - Fin
